p
{
color : 'Blue';
font-size : 50px';
font-family : 'Times New Roman',Times,Serif;
background_color : 'Green';
background-image : 'src.jpg';
background : url(src.jpg);
background-size : 300px 100px;
background-repeat : no-repeat;
}
img
{
color : 'Blue';
font-size : 50px';
font-family : 'Times New Roman',Times,Serif;
background_color : 'Green';
background-image : 'src.jpg';
background : url(src.jpg);
background-size : 300px 100px;
background-repeat : no-repeat;
}
h1
{
color : 'Blue';
font-size : 50px';
font-family : 'Times New Roman',Times,Serif;
background_color : 'Green';
background-image : 'src.jpg';
background : url(src.jpg);
background-size : 300px 100px;
background-repeat : no-repeat;
}
sub
{
color : 'Blue';
font-size : 50px';
font-family : 'Times New Roman',Times,Serif;
background_color : 'Green';
background-image : 'src.jpg';
background : url(src.jpg);
background-size : 300px 100px;
background-repeat : no-repeat;
}
ol
{
color : 'Blue';
font-size : 50px';
font-family : 'Times New Roman',Times,Serif;
background_color : 'Green';
background-image : 'src.jpg';
background : url(src.jpg);
background-size : 300px 100px;
background-repeat : no-repeat;
}
li
{
color : 'Blue';
font-size : 50px';
font-family : 'Times New Roman',Times,Serif;
background_color : 'Green';
background-image : 'src.jpg';
background : url(src.jpg);
background-size : 300px 100px;
background-repeat : no-repeat;
}
